.dashboardDiv
{
    display: block;
    background-color: rgba(17,18,23, .9);
    position: absolute;
    width:25%;
    min-height: fit-content;
    height:35%;
    border: 1.5px solid #6d91e8;
    border-radius: 2%;
    text-align: center;
}

#doughnutchart
{
    width:80%;
    height:auto;
    margin-left:10%;
    margin-bottom:10%;
}

#expensesdoughnut
{
    position:absolute;
    top:36%;
    left:20%;
    z-index: 2;
    height:35%;
    width:25%;
}

#incomedoughnut
{
    position:absolute;
    top:36%;
    left:50%;
    z-index: 2;
    height:35%;
    width:25%;
}

#goalchart
{
    width:25%;
    margin-left:10%;
    margin-bottom:10%;
}

#chartlabel
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3vh;
    color:#6d91e8;
}

#goal
{
    display:inline;
    top:80%;
    left:20%;
    height:25%;
    width:25%;
}

#goalmessagewrapper
{
    display:inline;
    width:100%;
}

#goalmessage
{
    display:inline;
    float:left;
    position:absolute;
    top:36%;
    left:40%;
    margin-right:10%;
    font-size: 2vh;
}

#depthmeter
{
    top:53%;
    left:90%;
    width:10%;
    height:85%;
}