body {
    background-color: rgb(194,178,128);
}


ul {
    position: fixed;
    top: 3%;
    left: 2%%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: rgb(209,223, 246);
    width: 10%;
}

li{
    display: block;
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 5%;
}

a{
    display: block;
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 2.5%;
}

li a:hover {
    background-color: #555;
    color: white;
}


.LDiv {
    display: inline;
    background-color: rgb(140,96,87);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}