body {
    background: linear-gradient(to top, transparent, 70%, rgb(0, 0, 0)), url("../assets/testimage.jpg");
    background-position: center;
    background-size: 220vh;
}


ul {
    position: fixed;
    top: 3%;
    left: 1.5%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: rgb(209,223, 246);
    width: 10%;
}

li{
    display: block;
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 5%;
}

a{
    display: block;
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 2.5%;
}

li a:hover {
    background-color: #555;
    color: white;
}

.alertmessage {
    visibility: hidden;
    margin:0;
    color: white;
}


.LDiv {
    display: block;
    background-color: rgba(17,18,23, .9);
    position: absolute;
    width:30%;
    min-height: fit-content;
    height:40%;
    top: 55%;
    left: 50%;
    border: 1.5px solid #6d91e8;
    border-radius: 4%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loginlabel
{   
    margin-top:4%;
    margin-bottom:0;
    margin-left: 10%;
    float:left;
    font-size: 2vh;
}

.logininputs
{
    display:inline-block;
    margin-left:.1%;
    width:80%;
}

.loginbuttons
{
    display:inline-block;
    
    height:fit-content;
    width:fit-content;
    padding:10px;
    padding-top:5px;
    padding-bottom:7px;
    /* background-color: rgba(109, 145, 232, .3); */
    background-color: transparent;
    border: 1px solid #6d91e8;
    text-align: center;
    font-size: 1.8vh;
}

.loginbuttons:hover
{
    background-color: rgba(109, 145, 232, .1);
    border-color: rgb(63, 85, 137)
}

#loginbutton
{
    position:absolute;
    right:7vw;
}

#signupbutton
{
    position:absolute;
    right: 1vw;
}

#dologinbutton
{
    margin-top:5%;
    margin-bottom:5%;
}

#forgotpasswordbutton
{
    float:right;
    display:inline;
    margin-top:6%;
    margin-right:10%;
    padding:0;
    background-color: transparent;
    border:none;
    color: #6d91e8;
    font-size: 1.5vh;
}

#forgotpasswordbutton:hover
{
    color:#bdc8e2;
}

#signinredirect
{
    display:flex;
    width:105%;
    height:3vh;
    margin-top:70vh;
    background-color: rgba(71, 70, 70, 0.675);
    text-align: center;
    font-size: 2vh;
}

#signinredirectmsg
{
    margin:0;
    margin-left:.7%;
}

#signinredirectbutton
{
    padding:0;
    margin-left:4%;
    background-color: transparent;
    border:none;
    color: #6d91e8;
    font-size: 2vh;
}

#signinredirectbutton:hover
{
    color:#bdc8e2;
}

.passwordinstructions
{
    float:left;
    margin:0;
    margin-top:1%;
    color:#bdc8e2;
}

#firstinstruction
{
    margin-left:10%;
}

#NavBar
{
  display: flex;
  align-items: center; 
  height: 6vh; 
  width: 100vw;
  position:absolute;
  top:0;
  left:0;

  border-bottom: 1px solid #6d91e8;
  background-color: rgba(17,18,23, .6);
}

#logoimg
{
  width:2.5%;
  height:auto;
}

#loginlogoimg
{
  width:15%;
  height:auto;
  margin-top:5%;
}


.tagline
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: fadeIn 5.5s;
    color:white;
}

@keyframes fadeIn
{
    0% {opacity: 0;}
    100% { opacity: 1;}
}